* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: turquoise;
}

header {
    padding: 20px;
    font-family: Optima, sans-serif;
    background-color: slateblue;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: URW Chancery L, cursive;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
}

.flex-item1 {
    display: flex;
    flex-basis: auto;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: wheat;
}

nav a:hover {
    background-color: black;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/star-pattern.jpeg);
    background-size: contain;
    background-position: center;
}

.about-me {
    margin: 20px;
    border: gold solid 15px;
    width: 600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.about-me h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-me p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.about-me img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    border: lightcoral solid 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.work h2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.first-work {
    margin: 20px;
    border: blueviolet solid 15px;
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.first-work h3 {
    font-size: 30px;
    margin: 25px, 30px;
}

.first-work img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   margin-top: 35px;
}

.first-work p {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.secondary-work {
    display: flex;
    flex-direction: row;
}

.secondary-work img:hover {
    background: #0000ff;
}

.second-work {
    margin: 20px;
    border: magenta solid 15px;
    width: 500px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.second-work h3 {
    text-decoration: none;
    font-size: 30px;
}

.second-work img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 35px;
}

.second-work p {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.third-work {
    margin: 20px;
    border: chocolate solid 15px;
    width: 500px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.third-work  {
    text-decoration: none;
    font-size: 30px;
}

.third-work img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
   margin-top: 25px;
}

.third-work p {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.contact-me {
    margin: 0;
    padding: 15px;
    clear: both;
}

.contact-me h2 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}

.contact-me img {
    margin-right: 20px;
}

.contact-me a {
    text-decoration: none;
}

.contact-me  a:hover {
    background-color: rgb(97, 40, 40);
    color: white;
}


section .container1 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start; 
    margin: 0px;
    height: 100px;
    width: 100%;
}

 section .item {
    display: inline-block;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px;
 }
 
 @media only screen and (max-width: 992px) {
     /* choose the element (selector) */
     /* modify its properties */
     .secondary-work {
         display: flex;
         flex-direction: row;
     }
 }

 @media only screen and (max-width: 762px) {
    /* choose the element (selector) */
    /* modify its properties */
    .secondary-work {
        display: flex;
        flex-direction: column wrap;
        flex-wrap: wrap;
    }
}






